<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <link href="new-client.css" rel="stylesheet">
</head>
<body>
  <table class="container" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="center">
        <table class="content" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>
              <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td><img class="logo" src="https://api.recargasdominicanas.do/recargas-dominicanas.png"></td>
                  <td class="title">Recargas Dominicanas</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td class="sub-title">Nuevo Cliente</td>
          </tr>
          <tr>
            <td>
              <table border="0" cellspacing="0" cellpadding="0">
                <tr class="label-row">
                  <td class="label">Nombre</td>
                  <td class="label">Nombre del negocio</td>
                </tr>
                <tr>
                  <td class="text">{{name}}</td>
                  <td class="text">{{businessName}}</td>
                </tr>
                <tr class="label-row">
                  <td class="label">RNC / Cédula</td>
                  <td class="label">Teléfono</td>
                </tr>
                <tr>
                  <td class="text">{{id}}</td>
                  <td class="text">{{phone}}</td>
                </tr>
                <tr class="label-row">
                  <td class="label">Email</td>
                  <td class="label">Sistema</td>
                </tr>
                <tr>
                  <td class="text">{{email}}</td>
                  <td class="text">{{system}}</td>
                </tr>
                <tr class="label-row">
                  <td class="label">Ciudad</td>
                  <td class="label">Dirección</td>
                </tr>
                <tr>
                  <td class="text">{{city}}</td>
                  <td class="text">{{address}}</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
